<!DOCTYPE html>
 
<html>
<head>

</head>
<body>
    <div>
        <div>
            <h1>Oops !! Application Crashed !!</h1>
            <h2>{{status}}</h2>
            <h2>{{error}}</h2>
        </div>
    </div>
</body>
 
</html>